h1{
  color: green;
}

table{
  border: 1px hidden rgb(194, 194, 194);
  line-height: 1.4;
}

td{
  padding: 10px;
  border: 1px solid rgb(194, 194, 194);
}

body{
  line-height: 1.3;
  margin: 0;
  background-color: #ffffff;
  font-family: roboto;
}

.soloth{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid;
  padding: 5px;
}

.leftth{
  border-top-left-radius: 10px;
}

.rightth{
    border-top-right-radius: 10px;
}

.green-icon
{
  background-color: rgba(0, 255, 0, 0.65);
  color: rgb(0, 107, 0);
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 5px;
}

.yellow-icon{
  background-color: rgba(255, 208, 0, 0.65);
  color: rgb(107, 87, 0);
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 5px;
}

.red-icon{
  background-color: rgba(255, 0, 0, 0.65);
  color: rgb(150, 0, 0);
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 5px;
}

.weekdiv{
  border-top: 2px solid #FD5433;
  border-bottom: 2px solid #FD5433;
  height: 7px;
  width: 45.3%;
  display: inline-block;
  vertical-align: 4px;
}

.weektitle{
  color: #FD5433;
  font-size: 25px;
  margin-left: 6px;
  margin-right: 6px;
}

.navbutton{
  text-decoration: none;
  background-color:white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #FC3333;
  border-radius: 10px;
  color: #FC3333;
}

.topmenubg{
  background-color:#B4EBE6;
  max-height: 185px;
  padding:10px;
  padding-top: 20px;
}

.separatordiv{
  background-color: #a3a3a375;
  height: 1px;
}

.tableindex{
  color:#4e4eff;
  text-align: center;
  font-weight: bold;
}

.tableargument{
  color:#4e4eff;
  font-weight: bold;
}

.subtitle{
  border-bottom: 4px solid #ff8533;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 30px;
}

.imagecomment{
  color: #44444475;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
}

.imagetd{
  padding:30px;
  padding-top: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.menureturndiv{
  background-color: #81818175;
  height: 1px;
  width: 38.4%;
  display: inline-block;
  vertical-align: 4px;
}

.menureturnbutton{
  color: #44444475;
  margin-left: 6px;
  margin-right: 6px;
  text-decoration: none;
}